/* ========================================================================== */
/* HEADER */
/* ========================================================================== */
.search__header{
    @include font-panelheader;
    margin-bottom: 1rem;
}
/* ========================================================================== */
/* CONTENT */
/* ========================================================================== */
.search__input{
    .tags{
        box-shadow: none !important;
    }
}

/* ========================================================================== */
/* TAGS */
/* ========================================================================== */
.searchtag__title{
    font-weight: bold;
}
.searchtag__alias{
    font-size: 0.75rem;
}
.searchtag__type{
    font-size: 0.75rem;
}