# BINARIES
.exe

# DATABASE FILES
*.db

# LOG files
*.log

# IDE FILES
**/.settings
**/.classpath
**/.project
**/nbproject
**/.vscode

# JAVA FILES
**/target/
*.class
*.jar
*.war
*.ear
hs_err_pid*

# NODE FILES
**/node
**/node_modules

# PYTHON FILES
**/__pycache__

# RUBY FILES
.jbundler
.mvn
pkg
Gemfile.lock
Jarfile.lock

# R FILES
.Rhistory
*.pdf

# PENTAHO FILES
**/db.cache-*

# VAGRANT FILES
.vagrant

# PROJECT SPECIFIC
workspace/1-datasource-parsers/_new2/wikidata/data
workspace/3-site/src/main/resources/static/dist
