/* ===========================================================================*/
/* COMPONENTS */
/* ===========================================================================*/
/* GAME CARD */
game-card a{
    text-decoration: none !important;
    color: inherit;
}
game-card a:hover{
    color: inherit;
}


/* GAME */
#game-cover img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#game-images img:hover{
    transition: all linear 0.1s;
    z-index: 100;
    transform: scale(2,2);
}
#game-images img{
    display: inline-block;
    height: 80px;
    width: 16%;
    margin-right: 0.6%;
    margin-bottom: 0.6%;
}

/* ===========================================================================*/
/* ACCORDION */
/* ===========================================================================*/
.accordion{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.accordion .title{
    background: #2980B9 !important;
    color: white !important;
    text-transform: uppercase;
}
.accordion .content{
    padding: 1rem !important;
}

/* ========================================================================== */
/* BUTTON */
/* ========================================================================== */
.ui.button{
    background: #2980B9;
    color:white;
    width: 100%;
    text-transform: uppercase;
}
.ui.button:hover{
    background: #134862;
    color: white;
}

/* ===========================================================================*/
/* CARD */
/* ===========================================================================*/
.card:hover{
    box-shadow: 0px 5px 10px 0px #bcbdbd, 0px 0px 0px 1px #d4d4d5 !important;
    transform: scale(1.025, 1.025);
    transition: all linear 0.1s;
}

/* ===========================================================================*/
/* MODAL */
/* ===========================================================================*/
.ui.dimmer.modals{
    background: rgba(0, 0, 0, 0.95);
}

/* ===========================================================================*/
/* BEHAVIORS */
/* ===========================================================================*/
.clickable{
    cursor: pointer;
}
.shadowed{
    box-shadow: 0px 0 3px 1px #222;
}
