 SMALL MONITOR
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html, body{
        font-size: 10px !important;
    }
}

/* LARGE MONITOR */
@media only screen and (min-width: 1200px) {
    html, body{
        font-size: 12px !important;
    }
}

/* WIDESCREEN */
@media only screen and (min-width: 1920px) {
    html, body{
        font-size: 14px !important;
    }
}
