<ul>
  <li><a href="/no-developer">Games without developer</a></li>
  <li><a href="/no-genre">Games without genre</a></li>
  <li><a href="/no-platform">Games without platform</a></li>
  <li><a href="/no-publisher">Games without publisher</a></li>
  <li><a href="/no-series">Games without series</a></li>  
</ul>
