<table class="ui striped celled {{$ctrl.bottomAttached ? 'bottom attached' : ''}} table">
    <tr ng-repeat="relationship in $ctrl.relationships" ng-if="$ctrl.game[relationship].length">

        <!-- HEADER -->
        <td class="three wide">
            <div style="font-weight:bold">
                {{$ctrl.game.type.relationships[relationship].name}}
            </div>
        </td>

        <!-- DATA -->
        <td class="thirteen wide">
            <div class="ui four column doubling grid">
                <span class="column" ng-repeat="conceptEntry in $ctrl.game[relationship]">
                    <a class="clickable" ng-click="addFilter(conceptEntry)">{{conceptEntry.name}}</a>
                </span>
            </div>
        </td>
    </tr>
</table>