<div class="ui dropdown item small text" ng-init="init()">
    <i class="world icon"></i>
    <div class="text" ng-bind="data.languages[language()]">English</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div ng-click="language('en')" class="item" >English</div>
        <div ng-click="language('es')" class="item">Español</div>
        <div ng-click="language('fr')" class="item">Français</div>
        <div ng-click="language('it')" class="item">Italiano</div>
        <div ng-click="language('pt')" class="item">Português</div>
    </div>
</div>