/* TABLET ONLY*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html, body{
        font-size: 12px !important;
    }
}

/* MOBILE ONLY */
@media only screen and (max-width: 767px) {
    html, body{
        font-size: 10px !important;
    }
    .game-card-image{
        height: 150px;
    }
}

/* SHARED */
@media only screen and (max-width: 991px) {
    /* =======================================================================*/
    /* PAGE LAYOUT (GENERAL) */
    /* =======================================================================*/
    .ui.container.grid{
        margin-left: 0 !important;
        width: 100% !important;
    }
    .one.column.grid > .column{
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }

    /* ====================================================================== */
    /* COMPONENTS */
    /* ====================================================================== */
    /* GAME */
    #game-images img{
        display: inline-block;
        width: 32.6%;
        margin-right: 0.6%;
        margin-bottom: 0.6%;
    }

    /* =======================================================================*/
    /* HELPERS
    /* =======================================================================*/
    .desktop-only{
        display: none !important;
    }
}

