<div class="concept-entry ui card clickable">    

    <!-- IMAGE -->
    <div class="concept-entry-image">
        <img class="ui image" ng-src="{{conceptEntry.imageFullPath}}" alt="{{conceptEntry.name}}" 
             fallback-src="/app/assets/img/default.png"/>        
    </div>

    <!-- NAME -->
    <div class="content">        
        <h2 class="ui small header concept-entry-header">{{index}}. {{conceptEntry.name}}</h2>
        <time datetime="{{conceptEntry.releaseYears[0].name}}" ng-if="conceptEntry.releaseYears">{{conceptEntry.releaseYears[0].name}}</time>
        <div ng-if="!conceptEntry.releaseYears">-</div>        
    </div>
</div>