<div class="gamedetails">
    <!-- =================================================================== -->
    <!-- HEADER -->
    <!-- =================================================================== -->
    <div class="gamedetails__header">{{$ctrl.game.name}}</div>

    <!-- =================================================================== -->
    <!-- CONTENT -->
    <!-- =================================================================== -->
    <div class="ui styled fluid accordion">

        <!-- =============================================================== -->
        <!-- OVERVIEW -->
        <!-- =============================================================== -->
        <div class="gamedetails__sectionheader ui active title">
            <i class="dropdown icon"></i> Overview
        </div>
        <div class="gamedetails__sectioncontent content">

            <div class="ui grid top aligned top attached stackable segment">
                <!-- ======================================================= -->
                <!-- LEFT SIDE -->
                <!-- ======================================================= -->
                <div class="four wide column">
                    <img class="gamedetails__cover ui rounded bordered image" ng-src="{{$ctrl.game.imageFullPath}}" alt="{{$ctrl.game.name}} cover" fallback-src="/app/images/default.png" ng-if="$ctrl.game !== null" />
                </div>

                <!-- ======================================================= -->
                <!-- RIGHT SIDE -->
                <!-- ======================================================= -->
                <div class="twelve wide column">

                    <!-- =================================================== -->
                    <!-- IMAGES -->
                    <!-- =================================================== -->
                    <a class="gamedetails__images ui four column doubling grid" ng-href="{{$ctrl.gameLinks.imagesLink}}" target="_blank">
                        <div class="column" ng-repeat="image in $ctrl.gameLinks.images| limitTo:8">
                            <img class="gamedetails__image ui bordered rounded image" ng-src="{{image}}" alt="{{$ctrl.game.name}} gameplay" />
                        </div>
                    </a>

                    <!-- =================================================== -->
                    <!-- LINKS -->
                    <!-- =================================================== -->
                    <div class="gamedetails__links ui horizontal list">
                        <a class="item link" ng-href="{{$ctrl.gameLinks.imagesLink}}" target="_blank">
                            <i class="icon picture"></i><span>Google Images</span></a>
                        <a class="item link" ng-href="{{$ctrl.gameLinks.youtubeLink}}" target="_blank">
                            <i class="icon youtube"></i>Youtube
                        </a>
                        <a class="item link" ng-href="{{$ctrl.gameLinks.hltbLink}}" target="_blank">
                            <i class="icon clock"></i>How Long to Beat
                        </a>
                    </div>
                </div>
            </div>

            <!-- =========================================================== -->
            <!-- GENERAL INFO -->
            <!-- =========================================================== -->
            <game-details-relationships game="$ctrl.game" relationships="['platforms', 'genres', 'releaseYears']" bottom-attached="true"></game-details-relationships>
        </div>

        <!-- =============================================================== -->
        <!-- GAMEPLAY -->
        <!-- =============================================================== -->
        <div class="gamedetails__sectionheader ui active title">
            <i class="dropdown icon"></i> Gameplay
        </div>
        <div class="gamedetails__sectioncontent content">
            <game-details-relationships game="$ctrl.game" relationships="['mechanics', 'gameModes', 'graphics', 'engines', 'durations']"></game-details-relationships>
        </div>

        <!-- =============================================================== -->
        <!-- PLOT -->
        <!-- =============================================================== -->
        <div class="gamedetails__sectionheader ui active title">
            <i class="dropdown icon"></i> Plot
        </div>
        <div class="gamedetails__sectioncontent content">
            <game-details-relationships game="$ctrl.game" relationships="['series', 'atmospheres', 'themes', 'characters', 'creatures', 'locations', 'periods', 'weapons',  'vehicles', 'sportTeams', 'organizations', 'soundtracks']"></game-details-relationships>
        </div>

        <!-- =============================================================== -->
        <!-- GAME INDUSTRY -->
        <!-- =============================================================== -->
        <div class="gamedetails__sectionheader ui active title">
            <i class="dropdown icon"></i> Game Industry
        </div>
        <div class="gamedetails__sectioncontent content">
            <game-details-relationships game="$ctrl.game" relationships="['developerCompanies', 'publisherCompanies', 'developers', 'awards', 'reviews', 'contentClassifications', 'contentCharacteristics']"></game-details-relationships>
        </div>
    </div>
</div>